{% extends "menu.html" %}
{% block title %}Tasker{% endblock title %}
{% block content %}
<h1>Список заданий</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Задание 1</td>
            <td>В работе</td>
            <td>
                <a href="task-details" class="details-btn">Подробнее</a>
                <a href="task-details" class="details-btn">Изменить</a>
                <a href="task-details" class="details-btn">Удалить</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Задание 2</td>
            <td>Завершено</td>
            <td>
                <a href="task-details" class="details-btn">Подробнее</a>
                <a href="task-details" class="details-btn">Изменить</a>
                <a href="task-details" class="details-btn">Удалить</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}