<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tasker{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    {% if user.is_authenticated %}
    <nav>
        <div class="nav-left">
            <a href="/tasker" class="{% if active_tab == 'index' %}active{% endif %}">Главная</a>
            {% if request.user.groups.all.0.name == 'main' %}
            <a href="/tasker/stats" class="{% if active_tab == 'stats' %}active{% endif %}">Статистика</a>
            <a href="/tasker/settings" class="{% if active_tab == 'settings' %}active{% endif %}">Настройки</a>
            {% endif %}
            {% if user.is_superuser %}
            <a href="/tasker/feedback" class="{% if active_tab == 'feedback' %}active{% endif %}">Обратная связь</a>
            {% endif %}
        </div>
        <div class="nav-right">
            <span class="user-info">Пользователь{% if request.user.groups.all.0.name == 'main' %} (main){% endif %}: {{ user.username }} ({{ user.first_name }})</span>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Выйти</button>
            </form>
        </div>
    </nav>
    <div class="container">
        {% block content%}Контент{% endblock content %}
    </div>
    {% else %}
    <div class="container" style="max-width: 500px; margin: 2rem auto;">
        <div class="task-detail">
            <div class="header-container" style="justify-content: center;">
                <h1>Вход в систему</h1>
            </div>
            <div class="error">
                Для просмотра данной страницы требуется авторизация.
            </div>
            <a href="{% url 'login'%}" class="details-btn" style="display: flex; ">Продолжить</a>
        </div>
    </div>
    {% endif %}
</body>
</html>