{% extends "menu.html" %}
{% block title %}Tasker{% endblock title %}
{% block content %}
<h1>Настройки</h1>
<div class="container">
    <!-- Секция TaskSubjects -->
    <div class="section">
        <h2>Тематики</h2>

        <table>
            <tr>
                <th>Название</th>
                <th>Синоним</th>
                <th>Действия</th>
            </tr>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.synonym }}</td>
                <td>
                    <a href="{% url 'edit_subject' subject.id %}">Изменить</a>
                    <a href="{% url 'delete_subject' subject.id %}" onclick="return confirm('Удалить?')">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form method="post" action="{% url 'add_subject' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Название" required>
            <input type="text" name="synonym" placeholder="Синоним" required>
            <button type="submit">Добавить</button>
        </form>

    </div>

    <!-- Секция TaskStatus -->
    <div class="section">
        <h2>Статус</h2>

        <table>
            <tr>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            {% for status in statuses %}
            <tr>
                <td>{{ status.status }}</td>
                <td>
                    <a href="{% url 'edit_status' status.id %}">Изменить</a>
                    <a href="{% url 'delete_status' status.id %}" onclick="return confirm('Удалить?')">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form method="post" action="{% url 'add_status' %}">
            {% csrf_token %}
            <input type="text" name="status" placeholder="Статус" required>
            <button type="submit">Добавить</button>
        </form>

    </div>
</div>
{% endblock content %}